<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
<title>INICIO</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/atn.css}">
<link rel="shortcut icon" href="/image/iconos/c5.png"><!-- icono de la pestaña -->
</head>
<body>
	<!--  <body style="background-image: url(/img/r.jpg); background-size:100%"> fondo del body -->
					
	
	
	
	<header th:replace="layout/header :: header"></header>
	<div class="container">
		<div class="col display-4" style="font-family: century gothic; font-size: 4;">Productos destacados
		</div>
		<div class="row " >
			<div class="container row col-sm-12 col-md-10" align= center>
			<!-- veremos -->
			
			
		
				<div class="card"  style="width: 16rem; margin: 1rem ; ">
			<!--  	<a class="navbar-brand" th:href="https://www.youtube.com/watch?v=zXh9U2h2l_o"></a> -->
				  <img  src="/image/vender/a1.jpg" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title">Buzo Cobra Kai</h5>
				    <p class="card-text">
				      Todas nuestras remeras son confeccionadas 100% con Algodón Peinado 24/1 de máxima calidad, doble 
				      costura reforzada para una mayor duracción de la prenda y detalles de marca en las mangas. 
				    </p>
				      <a href="https://www.remerasreflex.com/productos/buzo-cobra-kai/" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
				
				<div class="card"  style="width: 16rem; margin: 1rem ; ">
			<!--  	<a class="navbar-brand" th:href="https://www.youtube.com/watch?v=zXh9U2h2l_o"></a> -->
				  <img  src="/image/vender/a3.jpg" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title">Buzo Cobra Kai</h5>
				    <p class="card-text">
				      Los estampados son realizados en vinilo termotransferible importado, por lo cual no se decoloran ni se salen con los lavados.
				       Los buzos están confeccionados con frisa invisible de algodón de excelente calidad y extrema suavidad al tacto, por lo cual no encoje con los lavados ni pierden color
				    </p>
				      <a href="https://www.remerasreflex.com/productos/buzo-cobra-kai5/" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
				
					<div class="card"  style="width: 16rem; margin: 1rem ; ">
			<!--  	<a class="navbar-brand" th:href="https://www.youtube.com/watch?v=zXh9U2h2l_o"></a> -->
				  <img  src="/image/vender/a6.webp" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title">Musculosas Hombre Cobra Kai Karate Kid </h5>
				    <p class="card-text">
				      MUSCULOSAS “COBRA KAI - KARATE KID”
							Tenemos mas de 10.000 diseños de todo tipo, al comprar podés pedirnos el catálogo.
							RETIRO Y ENVÍO
							- Se retira por zona Floresta.
							- De Lunes a Viernes de 10 a 18 hs, Sábados de 10 a 14 hs.
							- Se hacen envíos por moto con pago contraentrega (solo CABA),
							Fuera de CABA por Mercadoenvios.
				    </p>
				      <a href="https://articulo.mercadolibre.com.ar/MLA-882685887-musculosas-hombre-cobra-kai-karate-kid-de-hoy-no-pasa-2-_JM?searchVariation=65488720628#searchVariation=65488720628&position=27&search_layout=grid&type=item&tracking_id=07ff3dfa-0fcd-4203-811b-ab5421ffc3f0" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
				
				<div class="card"  style="width: 16rem; margin: 1rem ; ">
			<!--  	<a class="navbar-brand" th:href="https://www.youtube.com/watch?v=zXh9U2h2l_o"></a> -->
				  <img  src="/image/vender/a2.webp" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title">Gorra</h5>
				    <p class="card-text">
				      Gorra Trucker Bordada Cobra Kai Karate Kid Negra Eva Rain®.
				    </p>
				      <a href="https://articulo.mercadolibre.com.ar/MLA-884403066-gorra-trucker-bordada-cobra-kai-karate-kid-negra-eva-rain-_JM?searchVariation=66246163114#searchVariation=66246163114&position=20&search_layout=grid&type=item&tracking_id=d4733821-d008-4045-a296-07d56e79cb97" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
				
									<div class="card"  style="width: 16rem; margin: 1rem ; ">
			<!--  	<a class="navbar-brand" th:href="https://www.youtube.com/watch?v=zXh9U2h2l_o"></a> -->
				  <img  src="/image/vender/a5.webp" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title">Tapaboca Cobra Kai</h5>
				    <p class="card-text">
				     Barbijo Tapaboca Cobra Kai Doble Tela Lavable Reusable.
				    </p>
				      <a href="https://articulo.mercadolibre.com.ar/MLA-885024675-barbijo-tapaboca-cobra-kai-doble-tela-lavable-reusable-_JM?searchVariation=66537391898#searchVariation=66537391898&position=52&search_layout=grid&type=item&tracking_id=7c05756e-a339-4d0a-8390-28c10c4d1d66" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
				
				<div class="card"  style="width: 16rem; margin: 1rem ; ">
			<!--  	<a class="navbar-brand" th:href="https://www.youtube.com/watch?v=zXh9U2h2l_o"></a> -->
				  <img  src="/image/vender/a7.webp" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title">Remeras</h5>
				    <p class="card-text">
				      Remeras Karate Kid Cobra Kai 100% Algodón Palermo.
				    </p>
				      <a href="https://articulo.mercadolibre.com.ar/MLA-765620175-remeras-karate-kid-cobra-kai-100-algodon-palermo-_JM?searchVariation=31792747599#searchVariation=31792747599&position=43&search_layout=grid&type=item&tracking_id=29fe388a-3072-4cc5-9cf5-d50cadb5aaab" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
			
			
					

			
			
			
			
			
			
			
			
			
			
			
		     
		
		</div>
			<div class="col col-md-2">
				<aside th:replace="layout/publicidad :: publicidad"></aside>
			</div>
		</div>
	</div>	
	
			
	
	<footer th:replace="layout/footer :: footer"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</body>
</html>